body {
  background: #fff;
  font-family: "Ubuntu", "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

/* Flex Box */

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.flex-column {
  -ms-flex-direction: column !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  flex-direction: column !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pb-10 {
  padding-top: 10px !important;
}

.pl-10 {
  padding-top: 10px !important;
}

.pr-10 {
  padding-top: 10px !important;
}

.px-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.py-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.px-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.py-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.px-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.py-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

// on demand css
.color-main-container {
  padding: 0px;
}

.color-box-container {
  background: #ffffff;
  padding: 32px;
}

.color-container {
  width: 241px;
  height: 100px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(7, 1fr) !important;
  -moz-box-pack: center;
  justify-content: center;
}

.color-div {
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 13px !important;
  padding-left: 4px !important;
  padding-right: 4px;
  margin: 2px;
  margin-bottom: 5px;
}

.color-campaign-div {
  border-radius: 5px;
  padding-top: 12px;
  padding-bottom: 13px !important;
  padding-left: 12px !important;
  padding-right: 4px;
  margin: 2px;
  margin-bottom: 5px;
}

.color-campaign-selected-div {
  border: 2px solid;
}

.color-bulk-div {
  width: 35px;
  height: 35px;
  margin: 5px;
  cursor: pointer;
  transition: 0.3s ease;
  box-sizing: content-box;
  border: 3px solid #efefef;
}

.color-bulk-selected-div {
  width: 35px;
  height: 35px;
  margin: 5px;
  cursor: pointer;
  transition: 0.3s ease;
  box-sizing: content-box;
  border: 3px solid;
}

.color-zone-div {
  border-radius: 0.5rem;
  padding-right: 2.5rem;
  margin-bottom: 1.25rem;
}

.well {
  padding: 20px;
  background: #ffffff;
  margin-bottom: 27px;
  border: none !important;
}

.input-append {
  display: flex;
  display: -moz-box;
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: nowrap; */
  height: 37px;
  color: black;
}

// chose font
.font-container {
  margin-top: 15px;
}

.font-append {
  margin-bottom: 10px;
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: nowrap; */
  height: 30px;
  color: black;
}

.span2 {
  border: 1px solid #032381d4 !important;
  border-radius: 2px;
  width: 100%;
  padding: 10px;
  margin-right: 5px;
}

.font-btn {
  border: none;
  background: #032381d4;
  color: white;
  padding: 0px 14px;
  border-radius: 2px;
}

.text-btn {
  background: #f7a832;
  width: 109px;
  height: 22px;
  display: -moz-box;
  display: flex;
  padding: 5px;
  -moz-box-pack: center;
  justify-content: center;
  align-content: center;
  -moz-box-align: center;
  align-items: center;
  color: white;
  font-size: 14px;
}

.text-btn-div {
  padding: 5px;
}

.p-btn-design {
  border: none;
  color: white;
  width: 100%;
  padding: 15px;
  border-radius: 1px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.input-file-container {
  text-align: center;
  position: relative;
  width: 100%;
}

.input-file-trigger {
  display: block;
  padding: 6px 45px;
  background: #0fb668;
  color: #fff;
  font-size: 1em;
  transition: all 0.4s;
  cursor: pointer;
}

.input-file {
  position: absolute;
  top: 0;
  left: 0;
  width: 225px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}

.last-btn-design-one {
  width: 70px;
  background: #fd920e;
  padding: 7px;
  border: 1px solid #fd920e;
  border-bottom-left-radius: 8px;
  color: white;
  font-weight: bold;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  text-align: center;
}

.last-btn-design-two {
  width: 70px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 10px;
  border: 1px solid white;
  border-bottom-right-radius: 8px;
  color: rgb(110, 108, 108);
  font-weight: bold;
  text-align: center;
}

.img-upload-btn {
  border: none;
  color: white;
  width: 100%;
  padding: 5px;
  border-radius: 1px;
  margin-bottom: 5px;
}

.hr {
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
}

.choose-size-container {
  display: flex !important;
}

.choose-size-container div {
  border: 1px solid rgb(185, 184, 184);
  border-radius: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 7px;
  padding-right: 7px;
  margin: 2px;
  margin-bottom: 5px;
  color: black;
  font: bold;
}

.teeChooserContainer {
  background-color: #fff;
  border-top: 1px solid #fd920e;
  border-left: 1px solid #fd920e;
  border-right: 1px solid #fd920e;
  /* border-radius: 4px; */
  display: block;
  float: left;
  width: 100%;
}

.teeChooser {
  padding: 5px;
  border-bottom: 1px solid #fd920e;
  transition: 0.3s ease-in-out;
  display: block;
  float: left;
  width: 100%;
}

.media-list {
  padding-left: 1px;
  list-style: none;
  padding-right: 10px;
  margin-left: -8px;
}

.media-list dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

.item-thumb-container {
  border: 1px solid #d8dae0;
  float: left;
  margin-right: 5px;
  height: 35px;
  width: 30px;
  background: #444;
  transition: opacity 0.4s ease;
  text-align: center;
}

.item-thumb {
  width: 100%;
  height: 100%;
}

.head-container {
  padding-left: 310px !important;
  padding-right: 310px !important;
}

.teeText {
  border: 1px solid #fd920e;
  width: 100%;
  padding: 10px;
  margin-right: 5px;
}

.text-btn-container {
  display: flex;
  justify-content: center;
}

//
// set a goal section
.goal-head-container {
  margin: 20px;
  padding-left: 190px !important;
  padding-right: 190px !important;
  padding-bottom: 20px;
  background-color: white;
}

.container-header {
  font-weight: bold !important;
}

.campaign-head-container {
  margin: 20px;
  padding-left: 190px !important;
  padding-right: 190px !important;
  padding-bottom: 20px;
  background: white !important;
}

.goal-container {
  margin-bottom: 20px;
}

.container-div {
  border: 1px solid #b9b9b9;
  border-radius: 3px;
  background-color: #f3f1f1;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  border-radius: 5px;
}

.selling-container {
  border: 1px solid #b9b9b9;
  border-radius: 3px;
  margin-bottom: 20px;
  background-color: #f3f1f1;
}

.goal-btn-design {
  padding: 14px 20px;
  color: white;
  background-image: linear-gradient(
    to right,
    #1e3c72 0%,
    #2a5298 51%,
    #1e3c72 100%
  );
  border: none;
  border-radius: 7px;
  font-size: 21px;
}

.price-box {
  width: 25%;
  position: relative;
  /* background-color: #FD920E; */
  color: #979393;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  padding: 6px 0px;
  border: 1px solid #a5a3a3;
  border-radius: 5px;
  margin-left: 20px;
}

.price-box-two {
  font-size: 50px;
  color: #fd920e;
  font-weight: bold;
}

.goal-icon {
  padding-right: 5px;
  color: rgb(112, 111, 111);
}

.background {
  border: 1px solid #fca030ce !important;
  background: #ffa73c67;
}

.text-description {
  width: 100%;
  border: 1px solid #dbd8d8;
  padding: 8px;
  border-radius: 5px;
  background: #f6f6f6;
}

.url-input-one {
  padding: 7px;
  border: 1px solid #dbd8d8;
  background: #f6f6f6;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 30%;
}

.url-input-two {
  padding: 7px;
  border: 1px solid #fd920e;
  background: #f6f6f6;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 70%;
}

.text-color {
  color: rgb(143, 142, 142);
}

.campaign-button {
  background-image: linear-gradient(
    to right,
    #fd920e 0%,
    #f2c94c 51%,
    #f2994a 100%
  );
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 5px;
  display: block;
}

.campaign-button:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

// .sample-canvas :hover {
//     border: 1px solid black;
// }
.HJDRz {
  width: 265px !important;
}

.canvas-container {
  .upper-canvas {
    width: 200px !important;
    height: 400px !important;
    border: 1px solid black;
  }
  // .upper-canvas:hover {
  //     border: 1px solid black;
  // }
  .lower-canvas {
    width: 200px !important;
    height: 400px !important;
    border: 1px solid black;
  }
  // .lower-canvas:hover {
  //     border: 1px solid black;
  // }
}

.card-img-contain {
  object-fit: contain !important;
}
